<a href="https://colab.research.google.com/github/Dhana009/All-Python-Projects/blob/master/Complete_pandas_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_01_introducing_pandas/movies.csv")

In [ ]:
movies.head(4) #tail #info #shape #len #size #dtypes

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015

In [ ]:
movies = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_01_introducing_pandas/movies.csv", index_col='Rank')

In [ ]:
movies.head(4)

                             Title       Studio       Gross  Year
Rank
1                Avengers: Endgame  Buena Vista  $2,796.30   2019
2                           Avatar          Fox  $2,789.70   2009
3                          Titanic    Paramount  $2,187.50   1997
4     Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015

In [ ]:
movies.reset_index(inplace=True)

In [ ]:
movies.head(2)

   Rank              Title       Studio       Gross  Year
0     1  Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2             Avatar          Fox  $2,789.70   2009

In [ ]:
#loc #iloc
movies.loc[1] #first row

Rank               2
Title         Avatar
Studio           Fox
Gross     $2,789.70
Year            2009
Name: 1, dtype: object

In [ ]:
movies.loc[1,'Rank'] #first row and rank column and then we can use the range here

2

In [ ]:
movies.loc[1:,'Rank':].head(2)

   Rank    Title     Studio       Gross  Year
1     2   Avatar        Fox  $2,789.70   2009
2     3  Titanic  Paramount  $2,187.50   1997

In [ ]:
movies.iloc[1,1] #first row and first column and same goes here with range

'Avatar'

In [ ]:
#sortvalues #sortindex #valuecounts
movies.sort_values(by=['Studio'], ascending=False).head(2)

     Rank                    Title     Studio     Gross  Year
641   642       The Imitation Game  Weinstein  $233.60   2014
630   631  Silver Linings Playbook  Weinstein  $236.40   2012

In [ ]:
movies.sort_index().head(2)

   Rank              Title       Studio       Gross  Year
0     1  Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2             Avatar          Fox  $2,789.70   2009

In [ ]:
movies.loc[:,'Studio'].value_counts().head(2)

Warner Brothers    132
Buena Vista        125
Name: Studio, dtype: int64

In [ ]:
#column filtering #between

movies[movies.loc[:,'Studio'] == "Fox"].head(2)

    Rank                                      Title Studio       Gross  Year
1      2                                     Avatar    Fox  $2,789.70   2009
34    35  Star Wars: Episode I - The Phantom Menace    Fox  $1,027.00   1999

In [ ]:
movies[(movies.loc[:,'Studio'] == "Fox") | (movies.loc[:,'Studio'] == "Buena Vista")].head(2)

   Rank              Title       Studio       Gross  Year
0     1  Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2             Avatar          Fox  $2,789.70   2009

In [ ]:
movies.loc[(movies.loc[:,'Year'] <= 2019),['Year']].head(2) #only year column

   Year
0  2019
1  2009

In [ ]:
movies[movies.loc[:,'Year'].between(2009,2012)].head(2)

   Rank                  Title       Studio       Gross  Year
1     2                 Avatar          Fox  $2,789.70   2009
6     7  Marvel's The Avengers  Buena Vista  $1,518.80   2012

In [ ]:
#strcontains
movies[movies.loc[:,'Title'].str.lower().str.contains('dark')]

     Rank                           Title           Studio       Gross  Year
22     23  Transformers: Dark of the Moon        Paramount  $1,123.80   2011
26     27           The Dark Knight Rises  Warner Brothers  $1,084.90   2012
38     39                 The Dark Knight  Warner Brothers  $1,004.90   2008
131   132            Thor: The Dark World      Buena Vista    $644.60   2013
231   232         Star Trek Into Darkness        Paramount    $467.40   2013
308   309             Fifty Shades Darker        Universal    $381.50   2017
599   600                    Dark Shadows  Warner Brothers    $245.50   2012
602   603                    Dark Phoenix              Fox    $245.10   2019

In [ ]:
#regex
movies.loc[:,'Gross'].str.replace('$','', regex=False).str.replace(',','', regex=False).astype(float)

0      2796.3
1      2789.7
2      2187.5
3      2068.2
4      2048.4
        ...
777     201.6
778     200.8
779     200.7
780     200.5
781     200.3
Name: Gross, Length: 782, dtype: float64

In [ ]:
#groupby  #we need any agg fun to do anything
x = movies.groupby('Studio')

In [ ]:
x.count().head(2)

             Rank  Title  Gross  Year
Studio
Artisan         1      1      1     1
Buena Vista   125    125    125   125

In [ ]:
#series
import pandas as pd
import numpy as np

In [ ]:
pd.Series() #to create a series

<ipython-input-10-fa15c544da3b>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [ ]:
lista = ['a b', 'c']
indexa = ['one','two']
pd.Series(data = lista, index= indexa)

one    a b
two      c
dtype: object

In [ ]:
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [ ]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [ ]:
diet.values

array([125, 406, 342])

In [ ]:
diet.pct_change() #to check the percentage change

Cereal                   NaN
Chocolate Bar       2.248000
Ice Cream Sundae   -0.157635
dtype: float64

In [ ]:
diet.describe() #min() #max() #std() #mean() #median() #sample() #unique() #nunique()

count      3.000000
mean     291.000000
std      147.278647
min      125.000000
25%      233.500000
50%      342.000000
75%      374.000000
max      406.000000
dtype: float64

In [ ]:
diet.unique()

array([125, 406, 342])

In [ ]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las  Vegas", np.nan]
)

In [ ]:
#checking a value in series or not
100 in cities

False

In [ ]:
list(cities)

['San Francisco', 'Los Angeles', 'Las  Vegas', nan]

Here are your challenges:
1 Use the list of superheroes to populate a new Series object.
2 Use the tuple of strengths to populate a new Series object.
3 Create a Series with the superheroes as index labels and the strength levels as
the values. Assign the Series to a heroes variable.
4 Extract the first two rows of the heroes Series.
5 Extract the last four rows of the heroes Series.
6 Determine the number of unique values in your heroes Series.
7 Calculate the average strength of the superheroes in heroes.
8 Calculate the maximum and minimum strengths in heroes.
9 Calculate what each superhero’s strength level would be if it doubled.
10 Convert the heroes Series to a Python dictionary.

In [ ]:
#1
superheroes = [
"Batman",
"Superman",
"Spider-Man",
"Iron Man",
"Captain America",
"Wonder Woman"
]

pd.Series(data = superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [ ]:
#2
strength_levels = (100, 120, 90, 95, 110, 120)

pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [ ]:
#3
heroes = pd.Series(data=strength_levels, index=superheroes)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [ ]:
#4
heroes.iloc[:2]

Batman      100
Superman    120
dtype: int64

In [ ]:
#5
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [ ]:
#6
heroes.nunique()

5

In [ ]:
#7
heroes.mean()

105.83333333333333

In [ ]:
#8
heroes.max()
heroes.min()

90

In [ ]:
heroes*2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [ ]:
#9
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

In [ ]:
#series methods
pokemandata = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_03_series_methods/pokemon.csv")

In [ ]:
pokemandata.head(2)

     Pokemon            Type
0  Bulbasaur  Grass / Poison
1    Ivysaur  Grass / Poison

In [ ]:
googlerawdata = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_03_series_methods/google_stocks.csv")

In [ ]:
googlerawdata.head(2)

         Date  Close
0  2004-08-19  49.98
1  2004-08-20  53.95

In [ ]:
googlerawdata = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_03_series_methods/google_stocks.csv", parse_dates = ['Date']).head(2)

googlerawdata

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95

In [ ]:
battle = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_03_series_methods/revolutionary_war.csv', usecols = ["State", "Start Date"])

In [ ]:
battle.head(2)

   Start Date          State
0    9/1/1774  Massachusetts
1  12/14/1774  New Hampshire

In [ ]:
battle.sort_values(by = 'State', na_position = "last").head(2) #first or last

    Start Date        State
190   9/6/1781  Connecticut
108   7/5/1779  Connecticut

In [ ]:
battle.sort_index().head(2) #ascending or descending

   Start Date          State
0    9/1/1774  Massachusetts
1  12/14/1774  New Hampshire

In [ ]:
#erercise

Suppose that a historian reaches out to us and asks us to determine which day of the
week saw the most battles during the Revolutionary War. The final output should be a
Series with the days (Sunday, Monday, and so on) as index labels and a count of battles on each day as the values. Starting from scratch, import the revolutionary_war.csv
data set, and perform the necessary operations to arrive at the following data:

Saturday 39

Friday 39

Wednesday 32

Thursday 31

Sunday 31

Tuesday 29

Monday 27

You’ll need one additional piece of Python knowledge to solve this problem. If you have
a single datetime object, you can invoke the strftime method on it with an argument
of "%A" to return the day of a week a date falls on (such as "Sunday"). See the following example and appendix B for a more-extensive overview of a datetime object:
In [65] import datetime as dt
today = dt.datetime(2020, 12, 26)
today.strftime("%A")
Out [65] 'Saturday

In [ ]:
battle = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_03_series_methods/revolutionary_war.csv',parse_dates=['Start Date'])

In [ ]:
battles = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_03_series_methods/revolutionary_war.csv')

In [ ]:
dates = battle.loc[:,'Start Date']

In [ ]:
dates1 = battles.loc[:,'Start Date']

In [ ]:
import datetime as dt

In [ ]:
dates1

0        9/1/1774
1      12/14/1774
2       4/19/1775
3       4/19/1775
4       4/20/1775
          ...
227     9/11/1782
228     9/13/1782
229    10/18/1782
230     12/6/1782
231     1/22/1783
Name: Start Date, Length: 232, dtype: object

In [ ]:
from datetime import datetime
def dateconvert(data_date):
  objects = datetime.strptime(data_date, '%m/%d/%Y')
  return objects.strftime('%A')

In [ ]:
dates1.dropna().apply(dateconvert).value_counts()

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: Start Date, dtype: int64

In [ ]:
#Dataframe
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [ ]:
city_data = {
    "City": ["New York City", "Paris", "Barcelona", "Rome"],
    "Country": ["United States", "France", "Spain", "Italy"],
    "Population": pd.Series([8600000, 2141000, 5515000, 2873000])
}

cities = pd.DataFrame(city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

In [ ]:
#creating a dataframe using numpy
random_data = np.random.randint(1,101, [3,5])  #randint 3rows and 5 columns from 1 , 101
random_data

test = pd.DataFrame(random_data, index=['one','two','three'], columns= ['first','second','three','four','five'])
test

       first  second  three  four  five
one       73      66     16    32    97
two       76       1     17    10    29
three     37      73     44    94    39

In [ ]:
test.count()

first     3
second    3
three     3
four      3
five      3
dtype: int64

In [ ]:
test.nunique() #max() #min()

first     3
second    3
three     3
four      3
five      3
dtype: int64

In [ ]:
nba = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_04_the_dataframe_object/nba.csv", parse_dates = ["Birthday"])

In [ ]:
nba.head(2)

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357

In [ ]:
nba.size #shape

2250

In [ ]:
nba.nlargest(n=2, columns=['Birthday'])

                    Name                Team Position   Birthday   Salary
136      Sekou Doumbouya     Detroit Pistons       SF 2000-12-23  3285120
432  Talen Horton-Tucker  Los Angeles Lakers       GF 2000-11-25   898310

In [ ]:
#sorting values
nba.sort_values(
    by = ["Team", "Salary"], ascending = [True, False]
)

                  Name                Team Position   Birthday    Salary
111   Chandler Parsons       Atlanta Hawks       SF 1988-10-25  25102512
28         Evan Turner       Atlanta Hawks       PG 1988-10-27  18606556
167       Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
213    De'Andre Hunter       Atlanta Hawks       SF 1997-12-02   7068360
339      Jabari Parker       Atlanta Hawks       PF 1995-03-15   6500000
..                 ...                 ...      ...        ...       ...
80         Isaac Bonga  Washington Wizards       PG 1999-11-08   1416852
399  Admiral Schofield  Washington Wizards       SF 1997-03-30   1000000
273    Justin Robinson  Washington Wizards       PG 1997-10-12    898310
283   Garrison Mathews  Washington Wizards       SG 1996-10-24     79568
353      Chris Chiozza  Washington Wizards       PG 1995-11-21     79568

[450 rows x 5 columns]

In [ ]:
nba.sort_index(ascending = False).head()

              Name                 Team Position   Birthday    Salary
449    Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000
448  Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
447    Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
446    Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
445  Austin Rivers      Houston Rockets       PG 1992-08-01   2174310

In [ ]:
nba.sort_index(axis = "columns").head() #or 1

    Birthday            Name Position   Salary                Team
0 1996-09-26    Shake Milton       SG  1445697  Philadelphia 76ers
1 1995-09-27  Christian Wood       PF  1645357     Detroit Pistons
2 1998-08-23   PJ Washington       PF  3831840   Charlotte Hornets
3 1988-10-04    Derrick Rose       PG  7317074     Detroit Pistons
4 1995-07-26   Marial Shayok        G    79568  Philadelphia 76ers

In [ ]:
nba.set_index("Name", inplace=True)

In [ ]:
nba["Position"]

0      SG
1      PF
2      PF
3      PG
4       G
       ..
445    PG
446    PF
447     C
448    PG
449    PG
Name: Position, Length: 450, dtype: object

In [ ]:
nba[["Salary", "Birthday"]].head()

    Salary   Birthday
0  1445697 1996-09-26
1  1645357 1995-09-27
2  3831840 1998-08-23
3  7317074 1988-10-04
4    79568 1995-07-26

In [ ]:
nba.select_dtypes(include = "object")

               Name                 Team Position
0      Shake Milton   Philadelphia 76ers       SG
1    Christian Wood      Detroit Pistons       PF
2     PJ Washington    Charlotte Hornets       PF
3      Derrick Rose      Detroit Pistons       PG
4     Marial Shayok   Philadelphia 76ers        G
..              ...                  ...      ...
445   Austin Rivers      Houston Rockets       PG
446     Harry Giles     Sacramento Kings       PF
447     Robin Lopez      Milwaukee Bucks        C
448   Collin Sexton  Cleveland Cavaliers       PG
449     Ricky Rubio         Phoenix Suns       PG

[450 rows x 3 columns]

In [ ]:
nba.select_dtypes(exclude = ["object", "int"])

      Birthday
0   1996-09-26
1   1995-09-27
2   1998-08-23
3   1988-10-04
4   1995-07-26
..         ...
445 1992-08-01
446 1998-04-22
447 1988-04-01
448 1999-01-04
449 1990-10-21

[450 rows x 1 columns]

In [ ]:
nba.loc[["Kawhi Leonard", "Paul George"],['Team']]

                               Team
Name
Kawhi Leonard  Los Angeles Clippers
Paul George    Los Angeles Clippers

In [ ]:

nba.sort_index().loc[:"Al Horford"]

                                    Team Position   Birthday    Salary
Name
Aaron Gordon               Orlando Magic       PF 1995-09-16  19863636
Aaron Holiday             Indiana Pacers       PG 1996-09-30   2239200
Abdel Nader        Oklahoma City Thunder       SF 1993-09-25   1618520
Adam Mokoka                Chicago Bulls        G 1998-07-18     79568
Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
Al Horford            Philadelphia 76ers        C 1986-06-03  28000000

In [ ]:
nba.iloc[300]

Team             Denver Nuggets
Position                     PF
Birthday    1999-04-03 00:00:00
Salary                  1416852
Name: Jarred Vanderbilt, dtype: object

In [ ]:
nba.iloc[[100, 200, 300, 400]]

                                Team Position   Birthday   Salary
Name
Brian Bowen           Indiana Pacers       SG 1998-10-02    79568
Marco Belinelli    San Antonio Spurs       SF 1986-03-25  5846154
Jarred Vanderbilt     Denver Nuggets       PF 1999-04-03  1416852
Louis King           Detroit Pistons        F 1999-04-06    79568

In [ ]:
nba.loc["Giannis Antetokounmpo", "Team"]

'Milwaukee Bucks'

In [ ]:
nba.loc["James Harden", ["Position", "Birthday"]]

Position                     PG
Birthday    1989-08-26 00:00:00
Name: James Harden, dtype: object

In [ ]:
nba.rename(columns = { "Date of Birth": "Birthday" })

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [ ]:
nba = nba.rename(
    index = { "Giannis Antetokounmpo": "Greek Freak" }
)

In [ ]:
nba.set_index("Team").head()

                   Position   Birthday   Salary
Team
Philadelphia 76ers       SG 1996-09-26  1445697
Detroit Pistons          PF 1995-09-27  1645357
Charlotte Hornets        PF 1998-08-23  3831840
Detroit Pistons          PG 1988-10-04  7317074
Philadelphia 76ers        G 1995-07-26    79568

In [ ]:
nba.reset_index().head()

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

4.11 Coding challenge

---


Now that we’ve explored the NBA’s financials, let’s apply the chapter’s concepts in a
different sports league.

4.11.1 Problems

The nfl.csv file contains a list of players in the National Football League with similar
Name, Team, Position, Birthday, and Salary columns. See whether you can answer
these questions:

1  How can we import the nfl.csv file? What’s an effective way to convert the values in its Birthday column to datetimes?

2 What are the two ways we can set the DataFrame index to store the player names?

3  How can we count the number of players per team in this data set?

4 Who are the five highest-paid players?

5  How can we sort the data set first by teams in alphabetical order and then by sal-ary in descending order?

6  Who is the oldest player on the New York Jets roster, and what is his birthday?

In [ ]:
nfl = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_04_the_dataframe_object/nfl.csv', parse_dates=['Birthday'])

In [ ]:
nfl2 = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_04_the_dataframe_object/nfl.csv')

In [ ]:
nfl

                    Name                  Team Position   Birthday   Salary
0           Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1         Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2            Adam Butler  New England Patriots       DT 1994-04-12   645000
3            Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4              Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000
...                  ...                   ...      ...        ...      ...
1650    Bashaud Breeland    Kansas City Chiefs       CB 1992-01-30   805000
1651         Craig James   Philadelphia Eagles       CB 1996-04-29   570000
1652  Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
1653         Chuma Edoga         New York Jets       OT 1997-05-25   495000
1654        Tajae Sharpe      Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 5 columns]

In [ ]:
from datetime import datetime

def convertingdates(actualdate):
  one = datetime.strptime(actualdate, '%m/%d/%Y')
  return one.strftime('%Y-%m-%d')

In [ ]:
nfl2.loc[:,'Birthday'].apply(convertingdates)

0       1996-07-20
1       1991-05-13
2       1994-04-12
3       1990-02-24
4       1992-02-27
           ...
1650    1992-01-30
1651    1996-04-29
1652    1991-08-25
1653    1997-05-25
1654    1994-12-23
Name: Birthday, Length: 1655, dtype: object

In [ ]:
#2
nfl = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_04_the_dataframe_object/nfl.csv', parse_dates=['Birthday'])
nfl.set_index('Name')

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [ ]:
#3
nfl.Team.value_counts()

New York Jets           58
Kansas City Chiefs      56
Washington Redskins     56
New Orleans Saints      55
San Francisco 49Ers     55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Seattle Seahawks        53
Dallas Cowboys          53
Buffalo Bills           53
Atlanta Falcons         53
Detroit Lions           53
Chicago Bears           53
Los Angeles Rams        52
New York Giants         52
Philadelphia Eagles     52
Houston Texans          52
Arizona Cardinals       51
Cincinnati Bengals      51
Green Bay Packers       51
Oakland Raiders         51
Jacksonville Jaguars    50
Cleveland Browns        49
Miami Dolphins          49
Indianapolis Colts      49
Carolina Panthers       49
New England Patriots    49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: Team, dtype: int64

In [ ]:
#4
nfl.nlargest(n=5,columns=['Salary'])

                 Name                  Team Position   Birthday    Salary
180      Kirk Cousins     Minnesota Vikings       QB 1988-08-19  27500000
905    Marcus Mariota      Tennessee Titans       QB 1993-10-30  20922000
1623   Jameis Winston  Tampa Bay Buccaneers       QB 1994-01-06  20922000
1343       Derek Carr       Oakland Raiders       QB 1991-03-28  19900000
150   Jimmy Garoppolo   San Francisco 49Ers       QB 1991-11-02  17200000

In [ ]:
#5
nfl.sort_values(by=['Team','Salary'], ascending=[True, False])

                    Name                 Team Position   Birthday    Salary
1577      Chandler Jones    Arizona Cardinals      OLB 1990-02-27  16500000
669     Patrick Peterson    Arizona Cardinals       CB 1990-07-11  11000000
1361    Larry Fitzgerald    Arizona Cardinals       WR 1983-08-31  11000000
1594       David Johnson    Arizona Cardinals       RB 1991-12-16   5700000
948          Justin Pugh    Arizona Cardinals        G 1990-08-15   5000000
...                  ...                  ...      ...        ...       ...
1109  Ross Pierschbacher  Washington Redskins        C 1995-05-05    495000
1325       Kelvin Harmon  Washington Redskins       WR 1996-12-15    495000
1344          Wes Martin  Washington Redskins        G 1996-05-09    495000
1345      Jimmy Moreland  Washington Redskins       CB 1995-08-26    495000
1509       Jeremy Reaves  Washington Redskins       SS 1996-08-29    495000

[1655 rows x 5 columns]

In [ ]:
nfl.Team.unique()

array(['Philadelphia Eagles', 'Cincinnati Bengals',
       'New England Patriots', 'Denver Broncos', 'Jacksonville Jaguars',
       'Dallas Cowboys', 'Miami Dolphins', 'Buffalo Bills',
       'Atlanta Falcons', 'Cleveland Browns', 'Minnesota Vikings',
       'Tampa Bay Buccaneers', 'Los Angeles Chargers',
       'Washington Redskins', 'Tennessee Titans', 'Chicago Bears',
       'Houston Texans', 'Arizona Cardinals', 'Baltimore Ravens',
       'New Orleans Saints', 'Detroit Lions', 'Pittsburgh Steelers',
       'San Francisco 49Ers', 'New York Giants', 'New York Jets',
       'Green Bay Packers', 'Seattle Seahawks', 'Indianapolis Colts',
       'Carolina Panthers', 'Oakland Raiders', 'Los Angeles Rams',
       'Kansas City Chiefs'], dtype=object)

In [ ]:
nfl[nfl.loc[:,'Team'] == 'New York Jets'].nsmallest(n=1, columns=['Birthday']).Name

888    Ryan Kalil
Name: Name, dtype: object

In [ ]:
#filtering
employees =pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_05_filtering_a_dataframe/employees.csv',parse_dates=['Start Date'])

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 47.0+ KB

In [ ]:
employees['Mgmt'] = employees['Mgmt'].astype(bool)

In [ ]:
employees['Salary'] = employees['Salary'].fillna(0).astype(int)

In [ ]:
employees.nunique()

First Name    200
Gender          2
Start Date    971
Salary        995
Mgmt            2
Team           10
dtype: int64

In [ ]:
employees["Gender"] = employees["Gender"].astype("category")

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    category
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      1001 non-null   int64
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    object
dtypes: bool(1), category(1), datetime64[ns](1), int64(1), object(2)
memory usage: 33.5+ KB

In [ ]:
employees[employees["First Name"] == "Maria"]

    First Name  Gender Start Date  Salary   Mgmt          Team
2        Maria  Female        NaT  130590  False       Finance
198      Maria  Female 1990-12-27   36067   True       Product
815      Maria     NaN 1986-01-18  106562  False            HR
844      Maria     NaN 1985-06-19  148857  False         Legal
936      Maria  Female 2003-03-14   96250  False  Business Dev
984      Maria  Female 2011-10-15   43455  False   Engineering

In [ ]:
employees[employees["Salary"] > 100000]

    First Name  Gender Start Date  Salary   Mgmt          Team
2        Maria  Female        NaT  130590  False       Finance
3        Jerry     NaN 2005-03-04  138705   True       Finance
4        Larry    Male 1998-01-24  101004   True            IT
5       Dennis    Male 1987-04-18  115163  False         Legal
9      Frances  Female 2002-08-08  139852   True  Business Dev
..         ...     ...        ...     ...    ...           ...
990      Robin  Female 1987-07-24  100765   True            IT
991       Rose  Female 2002-08-25  134505   True     Marketing
992    Anthony    Male 2011-10-16  112769   True       Finance
995      Henry     NaN 2014-11-23  132483  False  Distribution
999     Albert    Male 2012-05-15  129949   True         Sales

[409 rows x 6 columns]

In [ ]:
employees[~(employees["Salary"] >= 100000)].head()

  First Name  Gender Start Date  Salary  Mgmt         Team
0    Douglas    Male 1993-08-06       0  True    Marketing
1     Thomas    Male 1996-03-31   61933  True          NaN
6       Ruby  Female 1987-08-17   65476  True      Product
7        NaN  Female 2015-07-20   45906  True      Finance
8     Angela  Female 2005-11-22   95570  True  Engineering

In [ ]:
sales = employees["Team"] == "Sales"
legal = employees["Team"] == "Legal"
mktg  = employees["Team"] == "Marketing"
employees[sales | legal | mktg].head()

   First Name  Gender Start Date  Salary   Mgmt       Team
0     Douglas    Male 1993-08-06       0   True  Marketing
5      Dennis    Male 1987-04-18  115163  False      Legal
11      Julie  Female 1997-10-26  102508   True      Legal
13       Gary    Male 2008-01-27  109831  False      Sales
20       Lois     NaN 1995-04-22   64714   True      Legal

In [ ]:
all_star_teams = ["Sales", "Legal", "Marketing"]  #isin
on_all_star_teams = employees["Team"].isin(all_star_teams)
employees[on_all_star_teams].head()

   First Name  Gender Start Date  Salary   Mgmt       Team
0     Douglas    Male 1993-08-06       0   True  Marketing
5      Dennis    Male 1987-04-18  115163  False      Legal
11      Julie  Female 1997-10-26  102508   True      Legal
13       Gary    Male 2008-01-27  109831  False      Sales
20       Lois     NaN 1995-04-22   64714   True      Legal

In [ ]:
between_80k_and_90k = employees["Salary"].between(80000, 90000) #between
employees[between_80k_and_90k].head()

   First Name  Gender Start Date  Salary   Mgmt         Team
19      Donna  Female 2010-07-22   81014  False      Product
31      Joyce     NaN 2005-02-20   88657  False      Product
35    Theresa  Female 2006-10-10   85182  False        Sales
45      Roger    Male 1980-04-17   88010   True        Sales
54       Sara  Female 2007-08-15   83677  False  Engineering

In [ ]:
employees[employees["Start Date"].isnull()].head() #isnull

     First Name  Gender Start Date  Salary   Mgmt     Team
2         Maria  Female        NaT  130590  False  Finance
1000        NaN     NaN        NaT       0   True      NaN

In [ ]:
employees[employees["Start Date"].notnull()].head() #notnull

  First Name Gender Start Date  Salary   Mgmt       Team
0    Douglas   Male 1993-08-06       0   True  Marketing
1     Thomas   Male 1996-03-31   61933   True        NaN
3      Jerry    NaN 2005-03-04  138705   True    Finance
4      Larry   Male 1998-01-24  101004   True         IT
5     Dennis   Male 1987-04-18  115163  False      Legal

In [ ]:
employees.dropna() #dropna()

    First Name  Gender Start Date  Salary   Mgmt          Team
0      Douglas    Male 1993-08-06       0   True     Marketing
4        Larry    Male 1998-01-24  101004   True            IT
5       Dennis    Male 1987-04-18  115163  False         Legal
6         Ruby  Female 1987-08-17   65476   True       Product
8       Angela  Female 2005-11-22   95570   True   Engineering
..         ...     ...        ...     ...    ...           ...
994     George    Male 2013-06-21   98874   True     Marketing
996    Phillip    Male 1984-01-31   42392  False       Finance
997    Russell    Male 2013-05-20   96914  False       Product
998      Larry    Male 2013-04-20   60500  False  Business Dev
999     Albert    Male 2012-05-15  129949   True         Sales

[762 rows x 6 columns]

In [ ]:
employees.dropna(how = "all").tail()

     First Name Gender Start Date  Salary   Mgmt          Team
996     Phillip   Male 1984-01-31   42392  False       Finance
997     Russell   Male 2013-05-20   96914  False       Product
998       Larry   Male 2013-04-20   60500  False  Business Dev
999      Albert   Male 2012-05-15  129949   True         Sales
1000        NaN    NaN        NaT       0   True           NaN

In [ ]:
employees.dropna(subset = ["Start Date", "Salary"]).head()

  First Name Gender Start Date  Salary   Mgmt       Team
0    Douglas   Male 1993-08-06       0   True  Marketing
1     Thomas   Male 1996-03-31   61933   True        NaN
3      Jerry    NaN 2005-03-04  138705   True    Finance
4      Larry   Male 1998-01-24  101004   True         IT
5     Dennis   Male 1987-04-18  115163  False      Legal

In [ ]:
employees["Team"].duplicated().head()

0    False
1    False
2    False
3     True
4    False
Name: Team, dtype: bool

In [ ]:
employees.drop_duplicates(subset = ["Team"])

   First Name  Gender Start Date  Salary   Mgmt          Team
0     Douglas    Male 1993-08-06       0   True     Marketing
1      Thomas    Male 1996-03-31   61933   True           NaN
2       Maria  Female        NaT  130590  False       Finance
4       Larry    Male 1998-01-24  101004   True            IT
5      Dennis    Male 1987-04-18  115163  False         Legal
6        Ruby  Female 1987-08-17   65476   True       Product
8      Angela  Female 2005-11-22   95570   True   Engineering
9     Frances  Female 2002-08-08  139852   True  Business Dev
12    Brandon    Male 1980-12-01  112807   True            HR
13       Gary    Male 2008-01-27  109831  False         Sales
40    Michael    Male 2008-10-10   99283   True  Distribution

The netflix.csv data set is a collection of almost 6,000 titles that were available to watch
in November 2019 on the video streaming service Netflix. It includes four columns:
the video’s title, director, the date Netflix added it, and its type/category. The director
and date_added columns contain missing values. We can see examples at index positions 0, 2, and 5836 of the following



title director date_added type
0 Alias Grace NaN 3-Nov-17 TV Show

1 A Patch of Fog Michael Lennox 15-Apr-17 Movie

2 Lunatics NaN 19-Apr-19 TV Show

3 Uriyadi 2 Vijay Kumar 2-Aug-19 Movie

4 Shrek the Musical Jason Moore 29-Dec-13 Movie

… … … … …
5832 The Pursuit John Papola 7-Aug-19 Movie

5833 Hurricane Bianca Matt Kugelman 1-Jan-17 Movie

5834 Amar's Hands Khaled Youssef 26-Apr-19 Movie

5835 Bill Nye: Science Guy Jason Sussberg 25-Apr-18 Movie

5836 Age of Glory NaN NaN TV Show

5837 rows × 4 columns
Using the skills you learned in this chapter, solve the following challenges:

1 Optimize the data set for limited memory use and maximum utility.

2 Find all rows with a title of "Limitless".

3 Find all rows with a director of "Robert Rodriguez" and a type of "Movie".

4 Find all rows with either a date_added of "2019-07-31" or a director of
"Robert Altman".

5 Find all rows with a director of "Orson Welles", "Aditya Kripalani", or
"Sam Raimi".

6 Find all rows with a date_added value between May 1, 2019 and June 1, 2019.

7 Drop all rows with a NaN value in the director column.

8 Identify the days when Netflix added only one movie to its catalog

In [ ]:
netflix = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_05_filtering_a_dataframe/netflix.csv')

In [ ]:
netflix.head()

               title        director date_added     type
0        Alias Grace             NaN   3-Nov-17  TV Show
1     A Patch of Fog  Michael Lennox  15-Apr-17    Movie
2           Lunatics             NaN  19-Apr-19  TV Show
3          Uriyadi 2     Vijay Kumar   2-Aug-19    Movie
4  Shrek the Musical     Jason Moore  29-Dec-13    Movie

In [ ]:
#1
netflix['date_added'] = pd.to_datetime(netflix['date_added'])
netflix['type'] = netflix.type.astype('category')
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   category
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 142.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   category
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 142.8+ KB

In [ ]:
#2
netflix[netflix['title'] == 'Limitless']

          title         director date_added     type
1559  Limitless      Neil Burger 2019-05-16    Movie
2564  Limitless              NaN 2016-07-01  TV Show
4579  Limitless  Vrinda Samartha 2019-10-01    Movie

In [ ]:
#3
netflix[(netflix['director'] == 'Robert Rodriguez') & (netflix['type'] == 'Movie')]

,title,director,date_added,type
1384,Spy Kids: All the Time in the World,Robert Rodriguez,2019-02-19,Movie
1416,Spy Kids 3: Game Over,Robert Rodriguez,2019-04-01,Movie
1460,Spy Kids 2: The Island of Lost Dreams,Robert Rodriguez,2019-03-08,Movie
2890,Sin City,Robert Rodriguez,2019-10-01,Movie
3836,Shorts,Robert Rodriguez,2019-07-01,Movie
3883,Spy Kids,Robert Rodriguez,2019-04-01,Movie

In [ ]:
#4
netflix[(netflix['date_added'] == '2019-07-31') | (netflix['director'] == 'Robert Altman')]

                                title       director date_added     type
611                            Popeye  Robert Altman 2019-11-24    Movie
1028        The Red Sea Diving Resort    Gideon Raff 2019-07-31    Movie
1092                     Gosford Park  Robert Altman 2019-11-01    Movie
3473  Bangkok Love Stories: Innocence            NaN 2019-07-31  TV Show
5117                       Ramen Shop      Eric Khoo 2019-07-31    Movie

In [ ]:
#5
netflix[netflix['director'].isin(['Orson Welles',"Aditya Kripalani","Sam Raimi"])]

                           title          director date_added   type
946                 The Stranger      Orson Welles 2018-07-19  Movie
1870                    The Gift         Sam Raimi 2019-11-20  Movie
3706                Spider-Man 3         Sam Raimi 2019-11-01  Movie
4243        Tikli and Laxmi Bomb  Aditya Kripalani 2018-08-01  Movie
4475  The Other Side of the Wind      Orson Welles 2018-11-02  Movie
5115    Tottaa Pataaka Item Maal  Aditya Kripalani 2019-06-25  Movie

In [ ]:
#6
netflix[netflix['date_added'].between('2019-05-01','2019-06-01')]

,title,director,date_added,type
29,Chopsticks,Sachin Yardi,2019-05-31,Movie
60,Away From Home,NaN,2019-05-08,TV Show
82,III Smoking Barrels,Sanjib Dey,2019-06-01,Movie
108,Jailbirds,NaN,2019-05-10,TV Show
124,Pegasus,Han Han,2019-05-31,Movie
...,...,...,...,...
5671,Satan & Adam,V. Scott Balcerek,2019-06-01,Movie
5675,Rim of the World,McG,2019-05-24,Movie
5677,Malibu Rescue,Savage Steve Holland,2019-05-13,Movie
5739,Mission Istaanbul: Darr Ke Aagey Jeet Hai,Apoorva Lakhia,2019-05-16,Movie
5829,The Kindness Diaries,NaN,2019-05-01,TV Show

In [ ]:
#7
netflix.dropna(subset=['director'])

                                   title        director date_added   type
1                         A Patch of Fog  Michael Lennox 2017-04-15  Movie
3                              Uriyadi 2     Vijay Kumar 2019-08-02  Movie
4                      Shrek the Musical     Jason Moore 2013-12-29  Movie
5                       Schubert In Love     Lars Büchel 2018-03-01  Movie
6     We Have Always Lived in the Castle   Stacie Passon 2019-09-14  Movie
...                                  ...             ...        ...    ...
5830                         Bibi & Tina     Detlev Buck 2017-04-15  Movie
5832                         The Pursuit     John Papola 2019-08-07  Movie
5833                    Hurricane Bianca   Matt Kugelman 2017-01-01  Movie
5834                        Amar's Hands  Khaled Youssef 2019-04-26  Movie
5835               Bill Nye: Science Guy  Jason Sussberg 2018-04-25  Movie

[3936 rows x 4 columns]

In [ ]:
#8
netflix.nunique()
netflix.drop_duplicates(subset=['date_added'], keep=False)

,title,director,date_added,type
4,Shrek the Musical,Jason Moore,2013-12-29,Movie
12,Without Gorky,Cosima Spender,2017-05-31,Movie
30,Anjelah Johnson: Not Fancy,Jay Karas,2015-10-02,Movie
38,One Last Thing,Tim Rouhana,2019-08-25,Movie
70,Marvel's Iron Man & Hulk: Heroes United,Leo Riley,2014-02-16,Movie
...,...,...,...,...
5748,Menorca,John Barnard,2017-08-27,Movie
5749,Green Room,Jeremy Saulnier,2018-11-12,Movie
5788,Chris Brown: Welcome to My Life,Andrew Sandler,2017-10-07,Movie
5789,A Very Murray Christmas,Sofia Coppola,2015-12-04,Movie
5812,Little Singham in London,Prakash Satam,2019-04-22,Movie

In [ ]:
#working with the text data
inspections = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_06_working_with_text_data/chicago_food_inspections.csv")
inspections

                                      Name             Risk
0               MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                              JETS PIZZA   Risk 2 (Medium)
2                               ROOM 1520      Risk 3 (Low)
3                MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                            CHARTWELLS       Risk 1 (High)
...                                    ...              ...
153805                         WOLCOTT'S      Risk 1 (High)
153806     DUNKIN DONUTS/BASKIN-ROBBINS     Risk 2 (Medium)
153807                           Cafe 608     Risk 1 (High)
153808                        mr.daniel's     Risk 1 (High)
153809                         TEMPO CAFE     Risk 1 (High)

[153810 rows x 2 columns]

In [ ]:
inspections["Name"].str.strip().head()

0    MARRIOT MARQUIS CHICAGO
1                 JETS PIZZA
2                  ROOM 1520
3    MARRIOT MARQUIS CHICAGO
4                 CHARTWELLS
Name: Name, dtype: object

In [ ]:
for column in inspections.columns:
    inspections[column] = inspections[column].str.strip()

In [ ]:
inspections["Name"].str.title().head()

0    Marriot Marquis Chicago
1                 Jets Pizza
2                  Room 1520
3    Marriot Marquis Chicago
4                 Chartwells
Name: Name, dtype: object

In [ ]:
inspections = inspections.dropna(subset = ["Risk"])

In [ ]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All'],
      dtype=object)

In [ ]:
inspections = inspections.replace(
    to_replace = "All", value = "Risk 4 (Extreme)"
)

In [ ]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)',
       'Risk 4 (Extreme)'], dtype=object)

In [ ]:
inspections["Risk"].str.slice(5, 6).head()

0    1
1    2
2    3
3    1
4    1
Name: Risk, dtype: object

In [ ]:
inspections["Risk"].str[8:].head()

0      High)
1    Medium)
2       Low)
3      High)
4      High)
Name: Risk, dtype: object

In [ ]:
inspections["Name"].str.lower().str.contains("pizza").head()

0    False
1     True
2    False
3    False
4    False
Name: Name, dtype: bool

In [ ]:
inspections["Name"].str.len()

0         23
1         10
2          9
3         23
4         10
          ..
153805     9
153806    28
153807     8
153808    11
153809    10
Name: Name, Length: 153744, dtype: int64

In [ ]:
inspections["Risk"].str.split(")").head()

0      [Risk 1 (High, ]
1    [Risk 2 (Medium, ]
2       [Risk 3 (Low, ]
3      [Risk 1 (High, ]
4      [Risk 1 (High, ]
Name: Risk, dtype: object

In [ ]:
inspections["Risk"].str.split(pat = "(", n = 1).str.get(0).head()

0    Risk 1
1    Risk 2
2    Risk 3
3    Risk 1
4    Risk 1
Name: Risk, dtype: object

In [ ]:
customers = inspections.drop(labels = "Risk", axis = "columns")

In [ ]:
customers

                                Name
0            MARRIOT MARQUIS CHICAGO
1                         JETS PIZZA
2                          ROOM 1520
3            MARRIOT MARQUIS CHICAGO
4                         CHARTWELLS
...                              ...
153805                     WOLCOTT'S
153806  DUNKIN DONUTS/BASKIN-ROBBINS
153807                      Cafe 608
153808                   mr.daniel's
153809                    TEMPO CAFE

[153744 rows x 1 columns]

Our customers data set includes an Address column. Each address consists of a street,
a city, a state, and a zip code. Your challenge is to separate these four values; assign
them to new Street, City, State, and Zip columns; and then remove the Address column. Give the problem a shot, and then review the solution.

In [ ]:
customers = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_06_working_with_text_data/customers.csv')

In [ ]:
customers

                     Name                                            Address
0           Frank Manning  6461 Quinn Groves, East Matthew, New Hampshire...
1       Elizabeth Johnson  1360 Tracey Ports Apt. 419, Kyleport, Vermont,...
2         Donald Stephens  19120 Fleming Manors, Prestonstad, Montana, 23495
3     Michael Vincent III       441 Olivia Creek, Jimmymouth, Georgia, 82991
4          Jasmine Zamora  4246 Chelsey Ford Apt. 310, Karamouth, Utah, 7...
...                   ...                                                ...
9956        Dana Browning  762 Andrew Views Apt. 254, North Paul, New Mex...
9957      Amanda Anderson  44188 Day Crest Apt. 901, Lake Marcia, Maine, ...
9958           Eric Davis  73015 Michelle Squares, Watsonville, West Virg...
9959     Taylor Hernandez       129 Keith Greens, Haleyfurt, Oklahoma, 98916
9960     Sherry Nicholson   355 Griffin Valley, Davidtown, New Mexico, 17581

[9961 rows x 2 columns]

In [ ]:
customers[['new Street','City','State','Zipcode']] = customers.Address.str.split(',',n=3,expand=True)

In [ ]:
customers.drop(labels='Address',axis='columns')

,Name,new Street,City,State,Zipcode
0,Frank Manning,6461 Quinn Groves,East Matthew,New Hampshire,16656
1,Elizabeth Johnson,1360 Tracey Ports Apt. 419,Kyleport,Vermont,31924
2,Donald Stephens,19120 Fleming Manors,Prestonstad,Montana,23495
3,Michael Vincent III,441 Olivia Creek,Jimmymouth,Georgia,82991
4,Jasmine Zamora,4246 Chelsey Ford Apt. 310,Karamouth,Utah,76252
...,...,...,...,...,...
9956,Dana Browning,762 Andrew Views Apt. 254,North Paul,New Mexico,28889
9957,Amanda Anderson,44188 Day Crest Apt. 901,Lake Marcia,Maine,37378
9958,Eric Davis,73015 Michelle Squares,Watsonville,West Virginia,03933
9959,Taylor Hernandez,129 Keith Greens,Haleyfurt,Oklahoma,98916
9960,Sherry Nicholson,355 Griffin Valley,Davidtown,New Mexico,17581

In [ ]:
#reshaping and pivoting
sales =  pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_08_reshaping_and_pivoting/sales_by_employee.csv',parse_dates=['Date'])

In [ ]:
sales.tail()

         Date   Name           Customer  Revenue  Expenses
21 2020-01-01  Creed        Money Corp.     4430       548
22 2020-01-02  Creed  Average Paper Co.     8026      1906
23 2020-01-02  Creed  Average Paper Co.     5188      1768
24 2020-01-04  Creed         PaperMaven     3144      1314
25 2020-01-05  Creed        Money Corp.      938      1053

In [ ]:
sales.pivot_table(index = 'Date')

<ipython-input-7-7efd9d8567cd>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  sales.pivot_table(index = 'Date')

               Expenses      Revenue
Date
2020-01-01   637.500000  4293.500000
2020-01-02  1244.400000  7303.000000
2020-01-03  1313.666667  4865.833333
2020-01-04  1450.600000  3948.000000
2020-01-05  1196.250000  4834.750000

In [ ]:
import pandas as pd

In [ ]:
sales.pivot_table(index='Date', aggfunc='mean')

<ipython-input-10-7f06d6cca102>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  sales.pivot_table(index='Date', aggfunc='mean')

               Expenses      Revenue
Date
2020-01-01   637.500000  4293.500000
2020-01-02  1244.400000  7303.000000
2020-01-03  1313.666667  4865.833333
2020-01-04  1450.600000  3948.000000
2020-01-05  1196.250000  4834.750000

In [ ]:
sales.pivot_table(index='Date', aggfunc='sum')

<ipython-input-11-4afb2354d3a6>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  sales.pivot_table(index='Date', aggfunc='sum')

            Expenses  Revenue
Date
2020-01-01      3825    25761
2020-01-02      6222    36515
2020-01-03      7882    29195
2020-01-04      7253    19740
2020-01-05      4785    19339

In [ ]:
sales.pivot_table(index='Date',values='Revenue', aggfunc='mean')

                Revenue
Date
2020-01-01  4293.500000
2020-01-02  7303.000000
2020-01-03  4865.833333
2020-01-04  3948.000000
2020-01-05  4834.750000

In [ ]:
sales.pivot_table(index='Date',columns='Name', values='Revenue', aggfunc='sum',fill_value=0,margins=True, margins_name="total")

Name                 Creed  Dwight    Jim  Michael  Oscar   total
Date
2020-01-01 00:00:00   4430    2639   1864     7172   9656   25761
2020-01-02 00:00:00  13214       0   8278     6362   8661   36515
2020-01-03 00:00:00      0   11912   4226     5982   7075   29195
2020-01-04 00:00:00   3144       0   6155     7917   2524   19740
2020-01-05 00:00:00    938    7771      0     7837   2793   19339
total                21726   22322  20523    35270  30709  130550

Argument Description

max The largest value in the grouping

min The smallest value in the grouping

std The standard deviation of the values in the grouping

median The median (midpoint) of the values in the grouping

size The number of values in the grouping (equivalent to count)

In [ ]:
sales.pivot_table(
index = "Date",
columns = "Name",
values = ["Revenue", "Expenses"],
fill_value = 0,
aggfunc = { "Revenue": "min", "Expenses": "max" }
)

           Expenses                            Revenue                       \
Name          Creed Dwight   Jim Michael Oscar   Creed Dwight   Jim Michael
Date
2020-01-01      548    368  1305     412   661    4430   2639  1864    7172
2020-01-02     1906      0   462     685  1401    5188      0  8278    6362
2020-01-03        0   1321  1923    1772   906       0   2703  4226    5982
2020-01-04     1314      0  1889    1857  1767    3144      0  2287    7917
2020-01-05     1053   1475     0    1633   624     938   7771     0    7837


Name       Oscar
Date
2020-01-01  4406
2020-01-02  8661
2020-01-03  7075
2020-01-04  2524
2020-01-05  2793

In [ ]:
sales.pivot_table(
index = ["Name", "Date"], values = "Revenue", aggfunc = "sum"
).head(10)

                   Revenue
Name   Date
Creed  2020-01-01     4430
       2020-01-02    13214
       2020-01-04     3144
       2020-01-05      938
Dwight 2020-01-01     2639
       2020-01-03    11912
       2020-01-05     7771
Jim    2020-01-01     1864
       2020-01-02     8278
       2020-01-03     4226

In [ ]:
video_game_sales = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_08_reshaping_and_pivoting/video_game_sales.csv")
video_game_sales.head()

                       Name     NA     EU     JP  Other
0                Wii Sports  41.49  29.02   3.77   8.46
1         Super Mario Bros.  29.08   3.58   6.81   0.77
2            Mario Kart Wii  15.85  12.88   3.79   3.31
3         Wii Sports Resort  15.75  11.01   3.28   2.96
4  Pokemon Red/Pokemon Blue  11.27   8.89  10.22   1.00

In [ ]:
video_game_sales.melt(id_vars = "Name", value_vars = "NA").head()

                       Name variable  value
0                Wii Sports       NA  41.49
1         Super Mario Bros.       NA  29.08
2            Mario Kart Wii       NA  15.85
3         Wii Sports Resort       NA  15.75
4  Pokemon Red/Pokemon Blue       NA  11.27

In [ ]:
x  = video_game_sales.melt(id_vars = "Name", value_vars = ["NA", "EU", "JP", "Other"],var_name = "Region",
value_name = "Sales")

In [ ]:
x[x.Name == 'Wii Sports']

             Name Region  Sales
0      Wii Sports     NA  41.49
16566  Wii Sports     EU  29.02
33132  Wii Sports     JP   3.77
49698  Wii Sports  Other   8.46

In [ ]:
recipes = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_08_reshaping_and_pivoting/recipes.csv")
recipes

                    Recipe                                        Ingredients
0   Cashew Crusted Chicken  Apricot preserves, Dijon mustard, curry powder...
1      Tomato Basil Salmon  Salmon filets, basil, tomato, olive oil, Parme...
2  Parmesan Cheese Chicken  Bread crumbs, Parmesan cheese, Italian seasoni...

In [ ]:
recipes["Ingredients"] = recipes["Ingredients"].str.split(",")
recipes

                    Recipe                                        Ingredients
0   Cashew Crusted Chicken  [Apricot preserves,  Dijon mustard,  curry pow...
1      Tomato Basil Salmon  [Salmon filets,  basil,  tomato,  olive oil,  ...
2  Parmesan Cheese Chicken  [Bread crumbs,  Parmesan cheese,  Italian seas...

In [ ]:
recipes.explode("Ingredients")

                    Recipe         Ingredients
0   Cashew Crusted Chicken   Apricot preserves
0   Cashew Crusted Chicken       Dijon mustard
0   Cashew Crusted Chicken        curry powder
0   Cashew Crusted Chicken     chicken breasts
0   Cashew Crusted Chicken             cashews
1      Tomato Basil Salmon       Salmon filets
1      Tomato Basil Salmon               basil
1      Tomato Basil Salmon              tomato
1      Tomato Basil Salmon           olive oil
1      Tomato Basil Salmon     Parmesan cheese
2  Parmesan Cheese Chicken        Bread crumbs
2  Parmesan Cheese Chicken     Parmesan cheese
2  Parmesan Cheese Chicken   Italian seasoning
2  Parmesan Cheese Chicken                 egg
2  Parmesan Cheese Chicken     chicken breasts

We have two data sets for you to play with. The used_cars.csv file is a listing of used

cars for sale on the classifieds website Craigslist. Each row includes the car’s manufac-
turer, year of production, fuel type, transmission type, and price:

In [ ]:
cars = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_08_reshaping_and_pivoting/used_cars.csv')

In [ ]:
cars

       Manufacturer  Year   Fuel Transmission  Price
0             Acura  2012    Gas    Automatic  10299
1            Jaguar  2011    Gas    Automatic   9500
2             Honda  2004    Gas    Automatic   3995
3         Chevrolet  2016    Gas    Automatic  41988
4               Kia  2015    Gas    Automatic  12995
...             ...   ...    ...          ...    ...
460461        Rover  2008    Gas    Automatic   7950
460462       Nissan  2016    Gas    Automatic  13995
460463          BMW  2010    Gas    Automatic  10995
460464        Dodge  2015  Other       Manual   6495
460465          GMC  2008    Gas    Automatic   8990

[460466 rows x 5 columns]

In [ ]:
min_wage = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_08_reshaping_and_pivoting/minimum_wage.csv")
min_wage.head()

        State  2010  2011  2012  2013  2014  2015   2016   2017
0     Alabama  0.00  0.00  0.00  0.00  0.00  0.00   0.00   0.00
1      Alaska  8.90  8.63  8.45  8.33  8.20  9.24  10.17  10.01
2     Arizona  8.33  8.18  8.34  8.38  8.36  8.50   8.40  10.22
3    Arkansas  7.18  6.96  6.82  6.72  6.61  7.92   8.35   8.68
4  California  9.19  8.91  8.72  8.60  9.52  9.51  10.43  10.22

Here are the challenges:

1 Aggregate the sum of car prices in cars. Group the results by fuel type on the
row axis.

2 Aggregate the count of cars in cars. Group the results by manufacturer on the
index axis and transmission type on the column axis. Show the subtotals for
both the rows and columns.

3 Aggregate the average of car prices in cars. Group the results by year and fuel
type on the index axis and transmission type on the column axis.

4 Given a DataFrame from the preceding challenge, move the transmission level
from the column axis to the row axis.

5 Convert the min_wage from wide format to narrow format. In other words,
move the data from the eight year columns (2010–17) to a single column.

In [ ]:
#1
cars.head()

  Manufacturer  Year Fuel Transmission  Price
0        Acura  2012  Gas    Automatic  10299
1       Jaguar  2011  Gas    Automatic   9500
2        Honda  2004  Gas    Automatic   3995
3    Chevrolet  2016  Gas    Automatic  41988
4          Kia  2015  Gas    Automatic  12995

In [ ]:
cars.pivot_table(index='Fuel',values='Price',aggfunc='sum')

                Price
Fuel
Diesel      986177143
Electric     18502957
Gas       86203853926
Hybrid       44926064
Other       242096286

In [ ]:
#2
cars.pivot_table(values = "Price",index='Manufacturer',columns='Transmission',aggfunc='count',margins = True, margins_name = "Total").tail()

Transmission  Automatic   Manual    Other   Total
Manufacturer
Tesla             179.0      NaN     59.0     238
Toyota          31480.0   1367.0   2134.0   34981
Volkswagen       7985.0   1286.0    236.0    9507
Volvo            2665.0    155.0     50.0    2870
Total          398428.0  21005.0  21738.0  441171

In [ ]:
#3
cars.pivot_table(values = "Price",index = ['Year','Fuel'], columns= 'Transmission', aggfunc='mean')

Transmission      Automatic        Manual         Other
Year Fuel
2000 Diesel    11326.176962  14010.164021  11075.000000
     Electric   1500.000000           NaN           NaN
     Gas        4314.675996   6226.140327   3203.538462
     Hybrid     2600.000000   2400.000000           NaN
     Other     16014.918919  11361.952381  12984.642857
...                     ...           ...           ...
2020 Diesel    63272.595930      1.000000   1234.000000
     Electric   8015.166667   2200.000000  20247.500000
     Gas       34925.857933  36007.270833  20971.045455
     Hybrid    35753.200000           NaN   1234.000000
     Other     22210.306452           NaN   2725.925926

[102 rows x 3 columns]

In [ ]:
#4
cars.pivot_table(values = "Price",index = ['Year','Fuel'], columns= 'Transmission', aggfunc='mean').stack()

Year  Fuel      Transmission
2000  Diesel    Automatic       11326.176962
                Manual          14010.164021
                Other           11075.000000
      Electric  Automatic        1500.000000
      Gas       Automatic        4314.675996
                                    ...
2020  Gas       Other           20971.045455
      Hybrid    Automatic       35753.200000
                Other            1234.000000
      Other     Automatic       22210.306452
                Other            2725.925926
Length: 274, dtype: float64

In [ ]:
#5
min_wage.head()

        State  2010  2011  2012  2013  2014  2015   2016   2017
0     Alabama  0.00  0.00  0.00  0.00  0.00  0.00   0.00   0.00
1      Alaska  8.90  8.63  8.45  8.33  8.20  9.24  10.17  10.01
2     Arizona  8.33  8.18  8.34  8.38  8.36  8.50   8.40  10.22
3    Arkansas  7.18  6.96  6.82  6.72  6.61  7.92   8.35   8.68
4  California  9.19  8.91  8.72  8.60  9.52  9.51  10.43  10.22

In [ ]:
min_wage.melt(id_vars='State', value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016','2017'])

             State variable  value
0          Alabama     2010   0.00
1           Alaska     2010   8.90
2          Arizona     2010   8.33
3         Arkansas     2010   7.18
4       California     2010   9.19
..             ...      ...    ...
435       Virginia     2017   7.41
436     Washington     2017  11.24
437  West Virginia     2017   8.94
438      Wisconsin     2017   7.41
439        Wyoming     2017   5.26

[440 rows x 3 columns]

In [ ]:
#groupby method
fortune = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_09_the_groupby_object/fortune1000.csv')

In [ ]:
sectors = fortune.groupby("Sector")

In [ ]:
fortune["Sector"].nunique()

21

In [ ]:
sectors.size()

Sector
Aerospace & Defense               25
Apparel                           14
Business Services                 53
Chemicals                         33
Energy                           107
Engineering & Construction        27
Financials                       155
Food &  Drug Stores               12
Food, Beverages & Tobacco         37
Health Care                       71
Hotels, Restaurants & Leisure     26
Household Products                28
Industrials                       49
Materials                         45
Media                             25
Motor Vehicles & Parts            19
Retailing                         77
Technology                       103
Telecommunications                10
Transportation                    40
Wholesalers                       44
dtype: int64

In [ ]:

sectors.first()

,Company,Revenues,Profits,Employees,Industry
Sector,,,,,
Aerospace & Defense,Boeing,93392.0,8197.0,140800,Aerospace and Defense
Apparel,Nike,34350.0,4240.0,74400,Apparel
Business Services,ManpowerGroup,21034.0,545.4,29000,Temporary Help
Chemicals,DowDuPont,62683.0,1460.0,98000,Chemicals
Energy,Exxon Mobil,244363.0,19710.0,71200,Petroleum Refining
Engineering & Construction,Fluor,19521.0,191.4,56706,"Engineering, Construction"
Financials,Berkshire Hathaway,242137.0,44940.0,377000,Insurance: Property and Casualty (Stock)
Food & Drug Stores,Kroger,122662.0,1907.0,449000,Food and Drug Stores
"Food, Beverages & Tobacco",PepsiCo,63525.0,4857.0,263000,Food Consumer Products
Health Care,UnitedHealth Group,201159.0,10558.0,260000,Health Care: Insurance and Managed Care
"Hotels, Restaurants & Leisure",Marriott International,22894.0,1372.0,177000,"Hotels, Casinos, Resorts"
Household Products,Procter & Gamble,66217.0,15326.0,95000,Household and Personal Products
Industrials,General Electric,122274.0,-5786.0,313000,Industrial Machinery
Materials,International Paper,23302.0,2144.0,56000,"Packaging, Containers"
Media,Disney,55137.0,8980.0,199000,Entertainment
Motor Vehicles & Parts,General Motors,157311.0,-3864.0,180000,Motor Vehicles and Parts
Retailing,Walmart,500343.0,9862.0,2300000,General Merchandisers
Technology,Apple,229234.0,48351.0,123000,"Computers, Office Equipment"
Telecommunications,AT&T,160546.0,29450.0,254000,Telecommunications
Transportation,UPS,65872.0,4910.0,346415,"Mail, Package, and Freight Delivery"
Wholesalers,McKesson,198533.0,5070.0,64500,Wholesalers: Health Care

In [ ]:
sectors.get_group("Energy").head()

,Company,Revenues,Profits,Employees,Sector,Industry
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
27,Phillips 66,91568.0,5106.0,14600,Energy,Petroleum Refining
30,Valero Energy,88407.0,4065.0,10015,Energy,Petroleum Refining
40,Marathon Petroleum,67610.0,3432.0,43800,Energy,Petroleum Refining

In [ ]:
sectors.sum().head(10)

<ipython-input-72-3e8fa223ce03>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sectors.sum().head(10)

                             Revenues   Profits  Employees
Sector
Aerospace & Defense          383835.0   26733.5    1010124
Apparel                      101157.3    6350.7     355699
Business Services            316090.0   37179.2    1593999
Chemicals                    251151.0   20475.0     474020
Energy                      1543507.2   85369.6     981207
Engineering & Construction   172782.0    7121.0     420745
Financials                  2442480.0  264253.5    3500119
Food &  Drug Stores          405468.0    8440.3    1398074
Food, Beverages & Tobacco    510232.0   54902.5    1079316
Health Care                 1507991.4   92791.1    2971189

In [ ]:
sectors.get_group("Aerospace & Defense").loc[:, "Revenues"].sum()

383835.0

In [ ]:
sectors.mean().head()

<ipython-input-75-b02b7e1ea982>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sectors.mean().head()

                         Revenues      Profits     Employees
Sector
Aerospace & Defense  15353.400000  1069.340000  40404.960000
Apparel               7225.521429   453.621429  25407.071429
Business Services     5963.962264   701.494340  30075.452830
Chemicals             7610.636364   620.454545  14364.242424
Energy               14425.300935   805.373585   9170.158879

In [ ]:
aggregations = {
    "Revenues": "min",
    "Profits": "max",
    "Employees": "mean"
}

sectors.agg(aggregations).head()

                     Revenues  Profits     Employees
Sector
Aerospace & Defense    1877.0   8197.0  40404.960000
Apparel                2350.0   4240.0  25407.071429
Business Services      1851.0   6699.0  30075.452830
Chemicals              1925.0   3000.4  14364.242424
Energy                 1874.0  19710.0   9170.158879

In [ ]:
fortune.nlargest(n = 5, columns = "Profits")

,Company,Revenues,Profits,Employees,Sector,Industry
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
8,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
19,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks

In [ ]:
sector_and_industry = fortune.groupby(by = ["Sector", "Industry"])

In [ ]:
sector_and_industry.get_group(("Business Services", "Education"))

,Company,Revenues,Profits,Employees,Sector,Industry
567,Laureate Education,4378.0,91.5,54500,Business Services,Education
810,Graham Holdings,2592.0,302.0,16153,Business Services,Education

This coding challenge’s data set, cereals.csv, is a listing of 80 popular breakfast cereals.
Each row includes a cereal’s name, manufacturer, type, calories, grams of fiber, and
grams of sugar. Let’s take a look:

In [ ]:
cereals = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_09_the_groupby_object/cereals.csv')

Here are the challenges:
1 Group the cereals, using the Manufacturer column’s values.

2 Determine the total number of groups, and the number of cereals per group.

3 Extract the cereals that belong to the manufacturer/group "Nabisco".

4 Calculate the average of values in the Calories, Fiber, and Sugars columns for
each manufacturer.

5 Find the maximum value in the Sugars column for each manufacturer.

6 Find the minimum value in the Fiber column for each manufacturer.

7 Extract the cereal with the lowest amount of grams of sugar per manufacturer
in a new DataFrame.

In [ ]:
#1
ok = cereals.groupby('Manufacturer')

In [ ]:
#2
ok.size()

Manufacturer
American Home Food Products     1
General Mills                  22
Kellogg's                      23
Nabisco                         6
Post                            9
Quaker Oats                     8
Ralston Purina                  8
dtype: int64

In [ ]:
ok.first()

,Name,Type,Calories,Fiber,Sugars
Manufacturer,,,,,
American Home Food Products,Maypo,Hot,100,0.0,3
General Mills,Apple Cinnamon Cheerios,Cold,110,1.5,10
Kellogg's,All-Bran,Cold,70,9.0,5
Nabisco,100% Bran,Cold,70,10.0,6
Post,Bran Flakes,Cold,90,5.0,5
Quaker Oats,100% Natural Bran,Cold,120,2.0,8
Ralston Purina,Almond Delight,Cold,110,1.0,8

In [ ]:
cereals.columns

Index(['Name', 'Manufacturer', 'Type', 'Calories', 'Fiber', 'Sugars'], dtype='object')

In [ ]:
#3
ok.get_group('Nabisco').head()

                         Name Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran      Nabisco  Cold        70   10.0       6
20     Cream of Wheat (Quick)      Nabisco   Hot       100    1.0       0
63             Shredded Wheat      Nabisco  Cold        80    3.0       0
64     Shredded Wheat 'n'Bran      Nabisco  Cold        90    4.0       0
65  Shredded Wheat spoon size      Nabisco  Cold        90    3.0       0

In [ ]:
#4
ok.mean()

<ipython-input-90-edd1d938b369>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ok.mean()

                               Calories     Fiber    Sugars
Manufacturer
American Home Food Products  100.000000  0.000000  3.000000
General Mills                111.363636  1.272727  7.954545
Kellogg's                    108.695652  2.739130  7.565217
Nabisco                       86.666667  4.000000  1.833333
Post                         108.888889  2.777778  8.777778
Quaker Oats                   95.000000  1.337500  5.250000
Ralston Purina               115.000000  1.875000  6.125000

In [ ]:
#5
ok.agg({"Sugars":'max'})

                             Sugars
Manufacturer
American Home Food Products       3
General Mills                    14
Kellogg's                        15
Nabisco                           6
Post                             15
Quaker Oats                      12
Ralston Purina                   11

In [ ]:
#6
ok.agg({"Fiber":'min'})

                             Fiber
Manufacturer
American Home Food Products    0.0
General Mills                  0.0
Kellogg's                      0.0
Nabisco                        1.0
Post                           0.0
Quaker Oats                    0.0
Ralston Purina                 0.0

In [ ]:
#7
def smallest_sugar_row(df):

  return df.nsmallest(1, "Sugars")

ok.apply(smallest_sugar_row)

,,Name,Manufacturer,Type,Calories,Fiber,Sugars
Manufacturer,,,,,,,
American Home Food Products,43,Maypo,American Home Food Products,Hot,100,0.0,3
General Mills,11,Cheerios,General Mills,Cold,110,2.0,1
Kellogg's,3,All-Bran with Extra Fiber,Kellogg's,Cold,50,14.0,0
Nabisco,20,Cream of Wheat (Quick),Nabisco,Hot,100,1.0,0
Post,33,Grape-Nuts,Post,Cold,110,3.0,3
Quaker Oats,57,Quaker Oatmeal,Quaker Oats,Hot,100,2.7,-1
Ralston Purina,61,Rice Chex,Ralston Purina,Cold,110,0.0,2

In [ ]:
#merge and concate

groups1 = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/meetup/groups1.csv')

In [ ]:
groups2 = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/meetup/groups2.csv')

In [ ]:
categories = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/meetup/categories.csv')

In [ ]:
cities = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/meetup/cities.csv', dtype={"zip": "string"})

In [ ]:
cities.dtypes

id        int64
city     object
state    object
zip      string
dtype: object

In [ ]:
groups1.head()

   group_id                           name  category_id  city_id
0      6388         Alternative Health NYC           14    10001
1      6510      Alternative Energy Meetup            4    10001
2      8458              NYC Animal Rights           26    10001
3      8940  The New York City Anime Group           29    10001
4     10104             NYC Pit Bull Group           26    10001

In [ ]:
groups2.head()

,group_id,name,category_id,city_id
0,18879327,BachataMania,5,10001
1,18880221,Photoshoot Chicago - Photography and Modeling ...,27,60601
2,18880426,Chicago Adult Push / Kick Scooter Group Riding...,31,60601
3,18880495,Chicago International Soccer Club,32,60601
4,18880695,Impact.tech San Francisco Meetup,2,94101

In [ ]:
groups = pd.concat(objs = [groups1, groups2], ignore_index = True)

In [ ]:
sports_champions_A = pd.DataFrame(
    data = [
        ["New England Patriots", "Houston Astros"],
        ["Philadelphia Eagles", "Boston Red Sox"]
    ],
    columns = ["Football", "Baseball"],
    index = [2017, 2018]
)

sports_champions_A

                  Football        Baseball
2017  New England Patriots  Houston Astros
2018   Philadelphia Eagles  Boston Red Sox

In [ ]:
sports_champions_B = pd.DataFrame(
    data = [
        ["New England Patriots", "St. Louis Blues"],
        ["Kansas City Chiefs", "Tampa Bay Lightning"]
    ],
    columns = ["Football", "Hockeys"],
    index = [2019, 2020]
)

sports_champions_B

                  Football              Hockeys
2019  New England Patriots      St. Louis Blues
2020    Kansas City Chiefs  Tampa Bay Lightning

In [ ]:
sports_champions_C = pd.DataFrame(
    data = [
        ["Pittsburgh Penguins", "Golden State Warriors"],
        ["Washington Capitals", "Golden State Warriors"]
    ],
    columns = ["Hockey", "Basketball"],
    index = [2017, 2018]
)

In [ ]:
pd.concat(objs = [sports_champions_A, sports_champions_B])

                  Football        Baseball              Hockeys
2017  New England Patriots  Houston Astros                  NaN
2018   Philadelphia Eagles  Boston Red Sox                  NaN
2019  New England Patriots             NaN      St. Louis Blues
2020    Kansas City Chiefs             NaN  Tampa Bay Lightning

In [ ]:
pd.concat(
    objs = [sports_champions_A, sports_champions_C], axis = "columns"
)

,Football,Baseball,Hockey,Basketball
2017,New England Patriots,Houston Astros,Pittsburgh Penguins,Golden State Warriors
2018,Philadelphia Eagles,Boston Red Sox,Washington Capitals,Golden State Warriors

In [ ]:
categories.head(3)

   category_id            category_name
0            1           Arts & Culture
1            3       Cars & Motorcycles
2            4  Community & Environment

In [ ]:
groups.head(3)

   group_id                       name  category_id  city_id
0      6388     Alternative Health NYC           14    10001
1      6510  Alternative Energy Meetup            4    10001
2      8458          NYC Animal Rights           26    10001

In [ ]:
groups.merge(categories, how = "left", on = "category_id").head()

,group_id,name,category_id,city_id,category_name
0,6388,Alternative Health NYC,14,10001,Health & Wellbeing
1,6510,Alternative Energy Meetup,4,10001,Community & Environment
2,8458,NYC Animal Rights,26,10001,NaN
3,8940,The New York City Anime Group,29,10001,Sci-Fi & Fantasy
4,10104,NYC Pit Bull Group,26,10001,NaN

In [ ]:
groups.merge(categories, how = "inner", on = "category_id")

,group_id,name,category_id,city_id,category_name
0,6388,Alternative Health NYC,14,10001,Health & Wellbeing
1,54126,Energy Healers NYC,14,10001,Health & Wellbeing
2,67776,Flourishing Life Meetup,14,10001,Health & Wellbeing
3,111855,Hypnosis & NLP NYC - Update Your Brain,14,10001,Health & Wellbeing
4,129277,The Live Food Chicago Community,14,60601,Health & Wellbeing
...,...,...,...,...,...
8032,25536270,New York Cuckold Relationships Meetup,17,10001,Lifestyle
8033,25795045,Pagans Paradise NYC - A Haven for Heathens,17,10001,Lifestyle
8034,25856573,Fuck Yeah Femme Productions,17,94101,Lifestyle
8035,26158102,Chicago Crossdresser Meetup,17,60601,Lifestyle
8036,26219043,Corporate Goes Conscious,17,10001,Lifestyle

In [ ]:
groups.merge(
    cities, how = "outer", left_on = "city_id", right_on = "id"
)

,group_id,name,category_id,city_id,id,city,state,zip
0,6388.0,Alternative Health NYC,14.0,10001.0,10001,New York,NY,10001
1,6510.0,Alternative Energy Meetup,4.0,10001.0,10001,New York,NY,10001
2,8458.0,NYC Animal Rights,26.0,10001.0,10001,New York,NY,10001
3,8940.0,The New York City Anime Group,29.0,10001.0,10001,New York,NY,10001
4,10104.0,NYC Pit Bull Group,26.0,10001.0,10001,New York,NY,10001
...,...,...,...,...,...,...,...,...
16329,24303427.0,Midwest FPGA/AI/Machine Learning Meetup,34.0,60064.0,60064,North Chicago,IL,60064
16330,NaN,NaN,NaN,NaN,13417,New York Mills,NY,13417
16331,NaN,NaN,NaN,NaN,46312,East Chicago,IN,46312
16332,NaN,NaN,NaN,NaN,56567,New York Mills,MN,56567
16333,NaN,NaN,NaN,NaN,95712,Chicago Park,CA,95712

Here are the challenges:

1 Concatenate the two weeks of sales data into one DataFrame. Assign the week1
DataFrame a key of "Week 1" and the week2 DataFrame a key of "Week 2".

2 Find the customers who ate at the restaurant both weeks.

3 Find the customers who ate at the restaurant both weeks and ordered the same
item each week.

HINT You can join data sets on multiple columns by passing the on parame-
ter a list of columns.

4 Identify which customers came in only on Week 1 and only on Week 2.

5 Each row in the week1 DataFrame identifies a customer who purchased a food
item. For each row, pull in the customer’s information from the customers
DataFrame.

In [2]:
#1
import pandas as pd
week1 = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/restaurant/week_1_sales.csv')

In [3]:
week2 = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/restaurant/week_2_sales.csv')

In [4]:
customers = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/restaurant/customers.csv')

In [5]:
food = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_10_merging_joining_and_concatenating/restaurant/foods.csv')

In [6]:
week2

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
..           ...      ...
245          783       10
246          556       10
247          547        9
248          252        9
249          249        6

[250 rows x 2 columns]

In [33]:
customers

,ID,First Name,Last Name,Gender,Company,Occupation
0,1,Joseph,Perkins,Male,Dynazzy,Community Outreach Specialist
1,2,Jennifer,Alvarez,Female,DabZ,Senior Quality Engineer
2,3,Roger,Black,Male,Tagfeed,Account Executive
3,4,Steven,Evans,Male,Fatz,Registered Nurse
4,5,Judy,Morrison,Female,Demivee,Legal Assistant
...,...,...,...,...,...,...
995,996,Debra,Garcia,Female,Dazzlesphere,Structural Engineer
996,997,Douglas,Bishop,Male,Livepath,Developer I
997,998,Frank,Franklin,Male,Brainverse,Nurse Practicioner
998,999,Jessica,Burns,Female,Babbleblab,Financial Advisor
999,1000,Brian,Daniels,Male,Tazzy,Physical Therapy Assistant

In [7]:
pd.concat(objs=[week1,week2], keys = ["week1", "week2"])

           Customer ID  Food ID
week1 0            537        9
      1             97        4
      2            658        1
      3            202        2
      4            155        9
...                ...      ...
week2 245          783       10
      246          556       10
      247          547        9
      248          252        9
      249          249        6

[500 rows x 2 columns]

In [27]:
#2
week1.merge(week2, how='inner', on='Customer ID').drop_duplicates(subset=['Customer ID']).head()

   Customer ID  Food ID_x  Food ID_y
0          537          9          5
1          155          9          3
3          503          5          8
5          550          6          7
6          101          7          4

In [29]:
#3
week1.merge(week2, how='inner', on=['Customer ID','Food ID'])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [32]:
#4
week1.merge(week2, how='outer', on='Customer ID',indicator=True)

     Customer ID  Food ID_x  Food ID_y      _merge
0            537        9.0        5.0        both
1             97        4.0        NaN   left_only
2            658        1.0        NaN   left_only
3            202        2.0        NaN   left_only
4            155        9.0        3.0        both
..           ...        ...        ...         ...
449          855        NaN        4.0  right_only
450          559        NaN       10.0  right_only
451          276        NaN        4.0  right_only
452          556        NaN       10.0  right_only
453          252        NaN        9.0  right_only

[454 rows x 4 columns]

In [38]:
#5
week1.merge(customers,how='left', left_on='Customer ID',right_on='ID')

,Customer ID,Food ID,ID,First Name,Last Name,Gender,Company,Occupation
0,537,9,537,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,97,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,658,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,202,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
...,...,...,...,...,...,...,...,...
245,413,9,413,Diane,Bailey,Female,Wikibox,Technical Writer
246,926,6,926,Anne,Wagner,Female,Skyba,Legal Assistant
247,134,3,134,Diana,Hall,Female,Quinu,Financial Advisor
248,396,6,396,Juan,Romero,Male,Zoonder,Analyst Programmer
249,535,10,535,Nancy,Cox,Female,Trudeo,Research Associate

In [39]:
#working_with_dates_and_times

import datetime as dt
import pandas as pd

In [41]:
# The two lines below are equivalent
birthday = dt.date(1991, 4, 12)
birthday = dt.date(year = 1991, month = 4, day = 12)
birthday

datetime.date(1991, 4, 12)

In [42]:
birthday.year

1991

In [43]:
birthday.month

4

In [44]:
birthday.day

12

In [45]:
# The two lines below are equivalent
alarm_clock = dt.time(6, 43, 25)
alarm_clock = dt.time(hour = 6, minute = 43, second = 25)
alarm_clock

datetime.time(6, 43, 25)

In [46]:
alarm_clock.hour

6

In [47]:
alarm_clock.minute

43

In [48]:
alarm_clock.second

25

In [49]:
# The two lines below are equivalent
moon_landing = dt.datetime(1969, 7, 20, 22, 56, 20)
moon_landing = dt.datetime(
    year = 1969,
    month = 7,
    day = 20,
    hour = 22,
    minute = 56,
    second = 20
)
moon_landing

datetime.datetime(1969, 7, 20, 22, 56, 20)

In [50]:
string_dates = ["2015-01-01", "2016-02-02", "2017-03-03"]
dt_index = pd.to_datetime(string_dates)
dt_index

DatetimeIndex(['2015-01-01', '2016-02-02', '2017-03-03'], dtype='datetime64[ns]', freq=None)

In [52]:
disney = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_11_working_with_dates_and_times/disney.csv", parse_dates = ["Date"])
disney.head()

        Date      High       Low      Open     Close
0 1962-01-02  0.096026  0.092908  0.092908  0.092908
1 1962-01-03  0.094467  0.092908  0.092908  0.094155
2 1962-01-04  0.094467  0.093532  0.094155  0.094155
3 1962-01-05  0.094779  0.093844  0.094155  0.094467
4 1962-01-08  0.095714  0.092285  0.094467  0.094155

In [53]:
string_dates = ["2015-01-01", "2016-02-02", "2017-03-03"]
dt_index = pd.to_datetime(string_dates)
dt_index

DatetimeIndex(['2015-01-01', '2016-02-02', '2017-03-03'], dtype='datetime64[ns]', freq=None)

In [55]:
disney["Date"] = pd.to_datetime(disney["Date"])

In [56]:
disney.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object

In [58]:
disney["Date"].dt.day

0         2
1         3
2         4
3         5
4         8
         ..
14722    26
14723    29
14724    30
14725     1
14726     2
Name: Date, Length: 14727, dtype: int64

In [59]:
disney["Date"].dt.date

0        1962-01-02
1        1962-01-03
2        1962-01-04
3        1962-01-05
4        1962-01-08
            ...
14722    2020-06-26
14723    2020-06-29
14724    2020-06-30
14725    2020-07-01
14726    2020-07-02
Name: Date, Length: 14727, dtype: object

In [60]:
disney["Date"].dt.month

0        1
1        1
2        1
3        1
4        1
        ..
14722    6
14723    6
14724    6
14725    7
14726    7
Name: Date, Length: 14727, dtype: int64

In [61]:
disney["Date"].dt.year

0        1962
1        1962
2        1962
3        1962
4        1962
         ...
14722    2020
14723    2020
14724    2020
14725    2020
14726    2020
Name: Date, Length: 14727, dtype: int64

In [62]:
disney["Date"].dt.dayofweek

0        1
1        2
2        3
3        4
4        0
        ..
14722    4
14723    0
14724    1
14725    2
14726    3
Name: Date, Length: 14727, dtype: int64

In [65]:
disney["Date"].dt.day_name().head()

0      Tuesday
1    Wednesday
2     Thursday
3       Friday
4       Monday
Name: Date, dtype: object

In [66]:
disney["Date"].dt.month_name().head()

0    January
1    January
2    January
3    January
4    January
Name: Date, dtype: object

Citi Bike NYC is New York City’s official bike-sharing program. Residents and tourists
can pick up and drop off bicycles at hundreds of locations around the city. Ride data is
publicly available and released monthly by the city at https://www.citibikenyc.com/
system-data. citibike.csv is a collection of ~1.9 million rides that cyclists took in June
2020. For simplicity’s sake, the data set has been modified from its original version
and includes only two columns: each ride’s start time and end time. Let’s import the
data set and assign it to a citi_bike variable:

In [67]:
citi = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_11_working_with_dates_and_times/citibike.csv')

In [69]:
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882273 entries, 0 to 1882272
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  object
 1   stop_time   object
dtypes: object(2)
memory usage: 28.7+ MB

Here are the challenges for this section:
1 Convert the start_time and stop_time columns to store datetime (Timestamp)
values instead of strings.

2 Count the rides that occurred on each day of the week (Monday, Tuesday, and
so on). Which weekday is the most popular for a bike ride? Use the start_time
column as your starting point.

3 Count the rides per week for each week within the month. To do so, round
each date in the start_time column to its previous or current Monday. Assume
that each week starts on a Monday and ends on a Sunday. Thus, the first week of
June would be Monday, June 1 through Sunday, June 7.

4 Calculate the duration of each ride, and save the results to a new duration
column.

5 Find the average duration of a bike ride.

6 Extract the five longest bike rides by duration from the data set.

In [ ]:
citi = pd.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_11_working_with_dates_and_times/citibike.csv')

In [70]:
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882273 entries, 0 to 1882272
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  object
 1   stop_time   object
dtypes: object(2)
memory usage: 28.7+ MB

In [75]:
#1
citi['stop_time'] = pd.to_datetime(citi['stop_time'])

In [76]:
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882273 entries, 0 to 1882272
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  datetime64[ns]
 1   stop_time   datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 28.7 MB

In [77]:
citi

                     start_time               stop_time
0       2020-06-01 00:00:03.372 2020-06-01 00:17:46.208
1       2020-06-01 00:00:03.553 2020-06-01 01:03:33.936
2       2020-06-01 00:00:09.614 2020-06-01 00:17:06.833
3       2020-06-01 00:00:12.178 2020-06-01 00:03:58.864
4       2020-06-01 00:00:21.255 2020-06-01 00:24:18.965
...                         ...                     ...
1882268 2020-06-30 23:59:41.116 2020-07-01 00:11:06.779
1882269 2020-06-30 23:59:46.426 2020-07-01 00:07:13.086
1882270 2020-06-30 23:59:47.477 2020-07-01 00:07:06.559
1882271 2020-06-30 23:59:53.395 2020-07-01 00:14:43.427
1882272 2020-06-30 23:59:53.901 2020-07-01 00:07:07.095

[1882273 rows x 2 columns]

In [97]:
#2
citi['day_name'] = citi['start_time'].dt.day_name()
citi

                     start_time               stop_time day_name
0       2020-06-01 00:00:03.372 2020-06-01 00:17:46.208   Monday
1       2020-06-01 00:00:03.553 2020-06-01 01:03:33.936   Monday
2       2020-06-01 00:00:09.614 2020-06-01 00:17:06.833   Monday
3       2020-06-01 00:00:12.178 2020-06-01 00:03:58.864   Monday
4       2020-06-01 00:00:21.255 2020-06-01 00:24:18.965   Monday
...                         ...                     ...      ...
1882268 2020-06-30 23:59:41.116 2020-07-01 00:11:06.779  Tuesday
1882269 2020-06-30 23:59:46.426 2020-07-01 00:07:13.086  Tuesday
1882270 2020-06-30 23:59:47.477 2020-07-01 00:07:06.559  Tuesday
1882271 2020-06-30 23:59:53.395 2020-07-01 00:14:43.427  Tuesday
1882272 2020-06-30 23:59:53.901 2020-07-01 00:07:07.095  Tuesday

[1882273 rows x 3 columns]

In [101]:
citi.groupby('day_name').size()

day_name
Friday       258479
Monday       292690
Saturday     285966
Sunday       301482
Thursday     215176
Tuesday      305833
Wednesday    222647
dtype: int64

In [152]:
#3
days_away_from_monday = citi["start_time"].dt.dayofweek
days_away_from_monday

0          0
1          0
2          0
3          0
4          0
          ..
1882268    1
1882269    1
1882270    1
1882271    1
1882272    1
Name: start_time, Length: 1882273, dtype: int64

In [151]:
citi["start_time"] - pd.to_timedelta(
days_away_from_monday, unit = "day"
)

0         2020-06-01 00:00:03.372
1         2020-06-01 00:00:03.553
2         2020-06-01 00:00:09.614
3         2020-06-01 00:00:12.178
4         2020-06-01 00:00:21.255
                    ...
1882268   2020-06-29 23:59:41.116
1882269   2020-06-29 23:59:46.426
1882270   2020-06-29 23:59:47.477
1882271   2020-06-29 23:59:53.395
1882272   2020-06-29 23:59:53.901
Name: start_time, Length: 1882273, dtype: datetime64[ns]

In [111]:
#4
citi['rides_per_week'] = (citi['stop_time'] - citi['start_time'])

In [133]:
citi['rides_per_week'].dt.total_seconds()/60

0          17.713933
1          63.506383
2          16.953650
3           3.778100
4          23.961833
             ...
1882268    11.427717
1882269     7.444333
1882270     7.318033
1882271    14.833867
1882272     7.219900
Name: rides_per_week, Length: 1882273, dtype: float64

In [134]:
#5
citi['rides_per_week'].mean()

Timedelta('0 days 00:27:19.590506853')

In [142]:
#6
citi['rides_per_week_minutes'] = citi['rides_per_week'].dt.total_seconds()/60

In [145]:
citi['rides_per_week_minutes'].nlargest(n=5)

50593     46981.915667
98339     44747.343867
52306     44372.344933
15171     43466.807067
149761    40884.844933
Name: rides_per_week_minutes, dtype: float64

In [148]:
citi["rides_per_week"].sort_values(ascending = False).head()

50593    32 days 15:01:54.940000
98339    31 days 01:47:20.632000
52306    30 days 19:32:20.696000
15171    30 days 04:26:48.424000
149761   28 days 09:24:50.696000
Name: rides_per_week, dtype: timedelta64[ns]